<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rerun-Suite">
	<listeners>
	    <listener class-name="com.autoqa.framework.apitest.executefailed.TransformAnnotations"/>
	</listeners>
	<test name="FailedTest-Rerunner">
		<classes>
			<class name="com.autoqa.framework.apitest.executefailed.SampleTestClass1" />
			<class name="com.autoqa.framework.apitest.executefailed.SampleTestClass2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
